<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'inspect.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
    <script src="{% static 'inspect.js' %}" type="text/javascript"></script>
</head>
<body>
    <a href="http://ceas-e384d-dev1.cs.uwm.edu:8000/">Home</a>
    <div class="container">
        <h1>File Details:</h1>
        <hr>
        <div id="stats">

            <h2>File Characteristics</h2>
            <b>File Path: </b>{{ path }}<br>
            <b>Filed Size: </b>{{ file_size }}<br>
            <b>Edited: </b>{{ date_edit }}<br>
            <b>Created: </b>{{ date_create }}<br>
            <b>Number of words: </b>{{ num_words }}<br>
        </div>
        <div id="tags">
            <h2>Tags</h2>
            <input type="text" id="tagInput" value="{{ tags }}" data-role="tagsinput"/>
            <!--<button id="submitTag">Save Tags</button>-->
        </div>
        <div id="duplicates">
            <h2>Duplicates</h2>
            {% for doc in dups %}
                <a href="{% url 'details-view' doc.file_id %}">{{ doc.get_file_path }}</a><br>
            {% endfor %}
        </div>
    </div>
</body>
</html>